body {
	margin: 0;
	padding:0;
}

header {
	background-color: white;
}

#landing_rea {
	height:75px;
}

#landing {
	background-image: url('img/landing.png');
	width: 100vw;
	height: 460px;
	background-size: cover;
}

#logo {
	display: inline-block;
	width:123px;
	padding: 20px 50px;
}

.whitelogo {
	display: inline-block;
}

.blacklogo {
	display:none;
}

h1 {
	margin:50px 0 0 0;
	padding: 0;
	font-size: 28px;
	font-family: 'Roboto';
	font-variant: small-caps;
	font-weight:700;
	color:#292929;
	transition-duration:1s;
}

a:link{
	text-decoration: none;
	color: inherit;
}


/* -------------------- Navigation -------------------- */

#navbar {
	width: 100%;
    position: fixed;
    transition-duration:1s;
    z-index: 1;
}

nav {
    width: 500px;
    display: inline-block;
    text-align: right;
    float:right;
}

nav ul{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

nav ul li {
	padding:35px 35px;
	display: inline-block;
	list-style: none;
	font-family: 'Raleway';
	font-size: 16px;
	font-weight: 200;
	font-variant: small-caps;
	color:#FFF;
}

nav ul li a {
	color:#292929;
	text-decoration: none;
	transition-duration:1s;
}

nav ul li a:visited {
	color:#FFF;
}

nav ul li a:hover {
	color:#b1b1b1;
	transition: 0.5s;
}

/* -------------------- Texte principale -------------------- */

#discover {
    position: absolute;
    bottom: 167px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 700;
    color:#FFFFFF;
}

h2 {
	margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Raleway';
    font-weight: 200;
    color: #FFFFFF;
    font-variant: small-caps;
    letter-spacing: 4px;
}

h2 a{
	opacity: 0.8;
	color:white;
}

#realisation {
	height: 100vh;
	margin-top: 50px;
}


/* -------------------- Preview --------------------*/

#previews {
	height:100%;
	text-align: center;
}

.shortprev {
    width: 50%;
    padding: 0;
    margin: 0;
    display: inline-block;
    float: left;
}

.longprev {
	width:100%;
	display: block;
}

h4 {
	padding:44px 0;
	margin:0;
	font-family: 'Roboto';
	font-size: 24px;
	font-weight: 500;
	font-variant: small-caps;
	color:#292929;
	text-align: center;
}


/* -------------------- clips --------------------*/

h5 {
	padding:44px 0;
	margin:0;
	font-family: 'Roboto';
	font-size: 24px;
	font-weight: 500;
	font-variant: small-caps;
	color:#FFFFFF;
	text-align: center;
}

#clips {
/*	background-image: url('img/6.png');*/
background-color: black;
	background-size:cover;
	height: 700px;
	width:100%;
}

#video1 {
    width: 100%;
    display: inline-block;
    padding-top: 40px;
    /*padding-bottom: 100px;*/
}

#video2 {
    width: 100%;
    float: left;
    display: inline-block;
    /*padding-top: 40px;*/
    padding-bottom: 100px;
}

#coming { 
	width:100%;
	display: none;
}

h6 {
	margin:0;
	padding:0;
	font-size: 80px;
	font-family: 'Raleway';
	font-weight: 700;
	font-variant: small-caps;
	height: 51px;
	color:#FFFFFF;
	text-align:center;
}

/* NEW PROJECT PAGE */

#projetvid1 {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 0;
}

#textbox {
	background-color: rgba(0,0,0,0.3);
    width: 169px;
    height: 60px;
    z-index: 10000;
    position: absolute;
    bottom: 15%;
    text-align: right;
    right: 0;
}

.nereides{
	color: rgba(255,255,255,0.8);
    font-size: 16px;
    font-family: 'Raleway';
    font-variant: small-caps;
    margin: 10px 30px 0 0;
}

#returnbox {
	position: absolute;
    z-index: 10000;
    width: 100px;
    height: 50px;
    background-color: rgba(0,0,0,0.3);
    margin-top: 20px;
}

.return {
	font-family: 'Raleway';
    font-size: 18px;
    font-variant: small-caps;
    font-weight: 200;
    color: rgba(255,255,255,0.7);
    margin: 10px 0 0 15px;
}


/* -------------------- Footer -------------------- */

footer {
	height:295px;
	background-color: #292929;
}

footer ul {
	list-style: none;
	display: inline;
}

footer ul li a {
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 13px;
    font-weight: 400;
    color:#b1b1b1;
}

footer ul li a:visited{
	color:#b1b1b1;
}

footer ul li a:hover{
	transition:0.5;
	color:white;
}

#allfooter {
	width:750px;
	margin: 0 auto;
	padding-top: 50px;
}

h7 {
	font-family: 'Raleway';
	font-size: 20px;
	font-variant: small-caps;
	font-weight: 500;
	color:#FFFFFF;
}

#lprojet {
	width: 345px;
	display: inline-block;
	vertical-align: top;
}

#menu {
	width:270px;
	display: inline-block;
	vertical-align: top;
	color: #b1b1b1;
}

#social {
	display: inline-block;
	width:127px;
}

#social img {
	margin-bottom: 5px;
}

#social li {
	width:34px;
}

.socialicons {
	display: inline-block;
	padding:0;
	margin:25px 0 0 0;
	width: 127px;
	text-align: center;
}

.socialicons li {
	display: inline-block;
	margin: 0 5px;
}

#copyright p {
	text-align: center;
	font-family: 'Roboto';
	font-size: 8px;
	font-variant: small-caps;
	font-weight: 500;
	color:#FFFFFF;
}

#copyright {
    display: flex;
    height: 95px;
    flex-direction: column;
    justify-content: flex-end;
}

#contact {
	height: 100vh;
	padding-top:230px;
}

.mail {
	font-family: Roboto;
	font-variant: small-caps;
	font-size: 30px;
}